.main-page {
    /* margin: auto;
    width: 60%; */
    /* border: 1px solid #darkslategray; */
    padding: 0px 10px;
}

.left-col {
    background-color: lightgray !important;
    padding: 0% !important;
    height: 1129px;
}
.paddingLeft {
    padding-left: 2rem !important;
}
.whiteText {
    color: black !important;
}
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.name {
    font-weight: bold;
    color: darkslategray !important;
}
.position {
    font-weight: bold;
}
.padding-all {
    padding: 1rem;
}
.left-sub-header {
    font-size: 2rem;
    background-color: darkgray !important;
    padding: 1rem;
    font-weight: bold;
}
.left-bold {
    font-weight: bold;
}
.chip {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #f1f1f1;
    color: darkslategray;
}
.right-sub-head {
    padding: 1rem;
    border-top: 1px solid darkslategray !important;
    border-bottom: 1px solid darkslategray !important;
    font-size: 2rem;
    font-weight: bold;
    color: darkslategray !important;
}
.company {
    font-style: italic;
    font-weight: bold;
}
.project {
    font-weight: bold;
    margin-bottom: unset;
}
.degree {
    font-weight: bold;
}
.align-right {
    text-align: right;
}
.date {
    font-style: italic;
    font-size: smaller;
}
/* .list-item li {
    font-size: small;
} */
.noMarginBottom {
    margin-bottom: unset;
}